
  ol, ul {
    padding-left: 30px;
  }
  
 
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 4px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .square {
    font-size: 4rem;
    height: 140px;
    width: 140px;
    color: #cfc8b8;
    border: 4px solid #cfc8b8;
  }
  .square:hover {
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: #e6e2da;
    cursor: pointer;
  }
  .square.x {
    background-color: #524a4c;
  }
  .square.o {
    background-color: #6b948c;
  }
    
  h3 {
    text-align: center;
  }
  
  .bounce {
    background: #bd081c;
    text-align: center;
    padding: 1rem;
    padding: 1rem;
    font-size: 2rem;
    -webkit-transform: rotate(-25deg) translateX(-20px) translateY(100px);
            transform: rotate(-25deg) translateX(-20px) translateY(100px);
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
  }
  